.form-newbill-container {
  width: 100%;
}

.col-half {
  width: 75%;
  margin: auto;
  margin-top: 16px;
}

.col-half-row {
  display: flex;

  width: 75%;
  margin-left: 20px;
  margin-top: 16px;
}

.blue-border {
  box-sizing: border-box;
  border: 2px solid #0d5ae5 !important;
  border-radius: 5px;

  opacity: 0.5;
}

label {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.flex-col {
  margin-left: 50px;
}

.white-text {
  color: #fff;
}

#btn-send-bill {
  width: 100px;
  margin-top: 50px;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.2px;

  background-color: #0e5ae5;
}

textarea,
input,
select {
  color: #0e5ae5 !important;
  opacity: 0.7 !important;
}

textarea:focus,
input:focus,
select:focus {
  color: #0e5ae5 !important;
  opacity: 1 !important;
}

*[placeholder] {
  color: #0e5ae5 !important;
}
